{% extends 'base.html.twig' %}

{% block body %}
    <div class="cards f_1">
        <span class="text" style="text-align:center;">
            <h1>Znajomi (0)</h1>
        </span>
            <div class="friends">
            
                <div class="modal-loader">
                    <div class="loader"></div>
                </div>
            </div>
    </div>

{% endblock %}
