{% extends 'base.html.twig' %}

{% block body %}
    <div class="cards f_1">
        <span class="text" style="text-align:center;">
            <h1>Znajomi (0)</h1>
        </span>
            <div class="card friend-search">
                <div class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Wyszukaj..." id="szukaj_znajomego">
                </div>
                <div class="search_button">
                    <a><i class='bx bx-search icon'></i></a>
                </div>
            </div>

            <div class="friends">

                <div class="modal-loader">
                    <div class="loader"></div>
                </div>
            </div>
    </div>

{% endblock %}
