{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="cards i_1">
        <span class="text inv" style="text-align:center;">
            <h1>Otrzymane zaproszenia do znajomych (0)</h1>
        </span>

        <div class="invitations">
            <div class="modal-loader">
                <div class="loader"></div>
            </div>
        </div>
    </div>

{% endblock %}
