{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="cards">
        <span class="text" style="text-align:center;">
            <h1>Otrzymane powiadomienia (0)</h1>
        </span>
        <div class="notifications">
            <div class="modal-loader">
                    <div class="loader"></div>
                </div>
        </div>

{% endblock %}
