@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #10ac84;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --status-color: #dfecf0;
    --scrollbar-thumb: rgba(0, 0, 0, .1);
    --scrollbar-thumb-hover: rgba(0, 0, 0, .2);
    --table-tr-background: #f8f8f8;
    --line-color: #d1d8e0;

    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --status-color: #4a4b4d;
    --scrollbar-thumb: rgba(255, 255, 255, .1);
    --scrollbar-thumb-hover: rgba(255, 255, 255, .2);
    --table-tr-background: #3a3b3c;
    --line-color: #3a3b3c;
}

 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

.sidebar li{
    position: relative;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
    border-bottom: var(--line-color) 1px solid;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .role{
    font-size: 16px;
    display: block;
}
header .image-text .uuid_text{
    font-size: 14px;
    margin:2px;
}
.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ecf0f1;
    padding: 3px;
}
body.dark .sidebar header .image img{
    background-color: var(--primary-color);
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 30px;
}
.sidebar .menu .menu-links{
    margin: 10px 0;
    border-top: var(--line-color) 1px solid;
}
.sidebar .menu-bar .bottom-content{
    margin: 10px 0;
    border-top: var(--line-color) 1px solid;
}
.line{
    margin: 10px 0;
    border-bottom: var(--line-color) 1px solid;
}

.sidebar .menu .search-text{
    color: var(--text-color);
    text-align: center;
    font-size: 15px;
    opacity: 1;
    white-space: nowrap;
    height: 21px;
    font-weight: 500;
}
.sidebar.close .menu .search-text{
    opacity: 0;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li.selected a{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
.sidebar li.selected a .icon,
.sidebar li.selected a .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

body.dark .sidebar li.selected .icon,
body.dark .sidebar li.selected .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 78px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.icon-button__badge {
    position: absolute;
    top: 5px;
    left: 35px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    background: #ee5253;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

.home{
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    height: calc(100% - 40px);
}
.cards.c_2{
    width: calc(100% + 600px);
    margin-left: 30px;
    height: calc(100% - 40px);
}
.cards.c_3{
    width: 100%;
    height: calc(100% - 40px);
}
.card{
    display: flex;
    align-items: center;
    align-content: center;
    width: 576px;
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
    margin-top: 5px;
    
}
.card img{
    width: 64px;
    height: 64px;
    background-color: #ecf0f1;
    border-radius: 50%;
    padding: 5px;
}
.card .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
.card .image{
    width: 71px;
    position: relative;
}
.card .last_message{
    width: 235px;
    text-align: center;
}

.card .links{
    display: flex;
    width: 120px;
}
.links a{
    background-color: #e74c3c; 
    border: none; 
    color: white; 
    padding: 6px 8px; 
    margin: 2px;
    font-size: 20px; 
    cursor: pointer; 
    border-radius: 8px;
}
.card .links a.accept{
    background-color: #2ecc71;
}
.card .links a.inf, .buttons .close_info_user{
    background-color: #3498db;
}
.card .links a.inf:hover, .buttons .close_info_user:hover{
    background-color: #2980b9;
}
.card .links a.friend_inf{
    background-color: #3498db;
}
.card .links a.friend_inf:hover{
    background-color: #2980b9;
}
.chat_info .links a.friend_inf{
    background-color: #3498db;
}
.chat_info .links a.friend_inf:hover{
    background-color: #2980b9;
}

.card .links a.accept:hover{
    background-color: #27ae60;
}
.card .links a:hover {
    background-color: #c0392b;
}
.card .links .b_chat,
.buttons .b_chat{
    background-color: #2ecc71;
    text-decoration: none;
}
.card .links .b_chat:hover, 
.buttons .b_chat:hover{
    background-color: #27ae60;
}
.card .image .status{
    position: absolute;
    color: var(--status-color);
    font-size: 12px;
    right: 6px;
}
.card .image .status.active{
    color: #20bf6b;
}

.text_1{
    font-size: 26px;
    font-weight: 600;
    color: var(--text-color);
    padding: 6px;
}
.text_2{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    padding: 4px;
    text-align: center;
}

.buttons{
    margin-top: 8px;
}
.buttons a{
    background-color: #e74c3c; 
    border: none; 
    color: white; 
    padding: 6px 8px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 8px;
}

.buttons a.accept{
    background-color: #2ecc71;
}
.buttons a.accept:hover{
    background-color: #27ae60;
}
.buttons a.send_inv{
    background-color: #2ecc71;
}
.buttons a.send_inv:hover{
    background-color: #27ae60;
}
.buttons a:hover {
    background-color: #c0392b;
}
.buttons a.close_info{
    background-color: #3498db;
}
.buttons a.close_info:hover{
    background-color: #2980b9;
}

body.dark .card{
    background-color: var(--sidebar-color);
}
body.dark .card span{
    color: var(--text-color);
}
body.dark .card span img{
    background-color: var(--primary-color);
}
body.dark .wrapper{
    background-color: var(--sidebar-color);
}
body.dark .wrapper span img{
    background-color: var(--primary-color);
}

.chat{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 310px);
}

.chat .chat_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: var(--sidebar-color);
    justify-content: space-between;
    color: var(--text-color);
    border-bottom: var(--line-color) 1px solid;
}
.chat .chat_info .image_1 img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 5px;
    background-color: #ecf0f1;
}

body.dark .chat .chat_info .image_1 img{
    background-color: var(--primary-color);
}

.chat .chat_info .image_1{
    position: relative;
}
.chat .messages{
    position: relative;
    min-height: 100%;
    background: var(--sidebar-color);
    color: var(--text-color);
    border-bottom: var(--line-color) 1px solid;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.chat .messages .details{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}
.chat .messages .details.d_1{
    flex-direction: row-reverse;
}
.chat .messages .details.d_1 img{
    margin-right: 6px;
    border-radius: 50%;
}
.chat .messages .details.d_2 img{
    margin-left: 6px;
    border-radius: 50%;
}

.chat .messages .details.d_3{
    justify-content: center;
    margin: 5px;
    color: var(--text-color);
    font-size: 12px;
    width: calc(100% - 10px);
}

.chat .messages .details img{
    width: 32px;
    height: 32px;
}
.chat .messages .in{
    background-color: #ff7f50;
    padding: 8px;
    /* max-width: 346px; */
    max-width: 50%;
    margin: 8px 0 8px 8px;
    border-radius: 8px;
    
}
.chat .messages .out{
    background-color: #ff6348;
    padding: 8px;
    /* max-width: 346px; */
    max-width: 50%;
    margin: 8px 8px 8px 0;
    border-radius: 8px;
    text-align: right;
}

.chat .messages .time{
    font-size: 12px;
}
.chat .send_area{
    background: var(--sidebar-color);
    color: var(--text-color);
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
div.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
    height: 50px;
    display: flex;
    align-items: center;
    width: calc(100% - 75px);
    margin-left: 5px;
}
div.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
div.search-box .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.chat .send_area .send_button{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.chat .send_area .send_button a{
    background-color: #1e90ff; 
    border: none; 
    color: white; 
    padding: 10px 15px; 
    margin: 2px;
    font-size: 20px; 
    cursor: pointer; 
    border-radius: 8px;
}
body.dark .remove_msg{
    color: rgba(255, 255, 255, .15);
}
.remove_msg{
    margin: 8px;
    color: rgba(0, 0, 0, .15);
    cursor: pointer;
}

.remove_msg:hover{
    margin: 8px;
    color: rgba(0, 0, 0, .3);
    cursor: pointer;
}
body.dark .remove_msg:hover{
    margin: 8px;
    color: rgba(255, 255, 255, .3);
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    margin: auto;
    padding: 20px;
    min-width: 280px;
    border-radius: 20px;
}
.modal-content span img{
    height: 192px;
    width: 192px;
    background-color: #ecf0f1;
    border-radius: 50%;
    padding: 10px;
}
body.dark .modal-content span img{
    background-color: var(--primary-color);
}
.cards .notifications{
    min-width: calc(100% - 100px);
}
.card.notification{
    justify-content: space-between;
    width: 100%;
    width: auto;
}
.card.notification span{
    padding: 8px;
}

.card.notification .links{
    justify-content: center;
}

.account_card{
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.account_card .modal-account form[name="account_update_form"] div{
    width: 100%;
}
.account_card .modal-account form[name="account_update_form"] img{
    width: 128px;
    height: 128px;
    padding: 3px;
    background-color: #ecf0f1;
    border-radius: 50%;
}
body.dark .account_card .modal-account form[name="account_update_form"] img{
    background-color: var(--primary-color);
}
.modal-account form[name="account_update_form"] .image{
    position: relative;
}
.modal-account form[name="account_update_form"] .image .change{
    position: absolute;
    right: 1px;
    font-size: 22px;
    bottom: 6px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    width: 33px;
    background-color: var(--status-color);
}
.modal-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    max-width: 350px;
    width: calc(100% - 100px);
    height: 760px;
    border-radius: 15px;
    background-color: var(--sidebar-color);
    margin-left: 8px;
}
.modal-account form[name="account_update_form"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 50px);
}
.modal-account form[name="account_update_form"] input{
    width: 100%;
    padding: 12px;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 4px;
}

.modal-account button{
    width: calc(100% - 50px);
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.modal-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.loader{
    display: none;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid var(--primary-color);
    width: 32px;
    height: 32px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 15px;
  }
  body.dark .loader{
    border-color: #b2bec3;
    border-top-color: var(--primary-color);
  }
  p.new_message{
    color: #ff6348;
    font-weight: 600;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

::-webkit-scrollbar{
    width: 0.5em;
    height: 0.5em;
}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

/* MOBILE SCREEN RESPONSIVE */
@media only screen and (max-width: 450px) {
    .sidebar.close{
        width: 68px;
    }
    .sidebar .text{
        margin-left: 5px;
    }
    .sidebar header .image img{
        width: 35px;
        height: 35px;
    }
    .sidebar header .image,
    .sidebar .icon{
        min-width: 40px;
    }
    .sidebar .text{
        font-size: 15px;
    }
    .switch::before{
        height: 13px;
        width: 13px;
    }
    .toggle-switch .switch{
        height: 20px;
        width: 30px;
    }
    body.dark .switch::before{
        left: 15px;
    }
    .menu-bar .bottom-content .toggle-switch{
        min-width: 40px;
    }
    .menu-bar .mode .sun-moon{
        width: 40px;
    }
    .sidebar li.search-box input{
        font-size: 15px;
    }
    header .image-text .name{
        font-size: 14px;
    }
    header .image-text .role{
        font-size: 12px;
    }
    header .image-text .uuid_text{
        font-size: 12px;
    }
    .icon-button__badge{
        left: 24px;
    }
    .chat .messages .details img{
        width: 24px;
        height: 24px;
    }
    .chat .chat_info .image_1 img{
        width: 48px;
        height: 48px;
    }
    .chat .messages .details.d_1, .chat .messages .details.d_2{
        font-size: 14px;
    }
    div.search-box input{
        font-size: 15px;
    }
    div.search-box .icon{
        min-width: 40px;
    }
    .chat_info .text_3, .chat_info .text_4, .chat_info .s_info{
        font-size: 14px;
    }
    .sidebar{
        width: 220px;
    }
    .home{
        left: 220px;
        width: calc(100% - 220px);
    }
    .sidebar.close ~ .home{
        left: 55px;
        width: calc(100% - 55px);
    }
}
@media only screen and (max-width: 630px) {
    .chat .chat_info {
      flex-direction: column;
    }
    .cards.c_2{
        margin-top:20px;
        height: calc(100% - 20px);
        margin-left: 20px;
    }
    .cards.c_2 .text{
        display: none;
    }
    .chat_info .links{
        margin-top: 8px;
    }
}
@media only screen and (max-width: 680px) {
    .friends{
        width: 100%;
    }
    .friends .card{
        width: 100%;
        flex-direction: column;
    }
    .friends .last_message{
        padding: 8px;
    }

    .modal-mobile{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin-left: 45px;
        overflow: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.7);
    }
    .cards.f_1{
        margin: 20px 8px 20px 20px;
        width: calc(100% - 28px);
    }

    .cards.i_1{
        margin: 20px 8px 20px 20px;
        width: calc(100% - 28px);
    }
    .invitations{
        width: 100%;
    }
    .invitations .card{
        width: 100%;
        flex-direction: column;
    }
}
@media only screen and (max-width: 766px) {
    .card.notification{
        flex-direction: column;
    }
    .home .text{
        font-size: 20px;
        padding: 12px 20px;
    }
    .cards{
        margin-right: 8px;
    }
}

@media only screen and (max-width: 1060px) {
    .card.notification{
        font-size: 14px;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .modal-mobile{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin-left: 45px;
        overflow: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.7);
    }
    .cards.f_1{
        margin: 20px 8px 20px 20px;
        width: auto;
    }

}